@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.css");

.create-repo-message {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    text-align: center;
    width: 100%;
    color: #99999D;
    text-shadow: 1px 1px 1px #FFFFFF;
}

body, html {
    margin: 0;
    padding: 0;
}

/* top bar */
.top-bar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226, 226, 226, 0.5)), color-stop(100%,rgba(208, 208, 208, 0.53)));
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #D7D7D7;
}

.create-repository {
   color: #99999D;
   text-shadow: 1px 1px 1px #fff;
}

.content-wrapper {
    padding: 0 10px;
}

/* content */
.main-container {
    position: fixed;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    background: blue;
}

.main-container .section {
    float: left;
    height: 100%;
    position: fixed;
    top: 30px;
    bottom: 0;
}

.main-container .section.left {
    width: 300px;
    background: #F0F0F0;
    left: 0;
}

.main-container .section.right {
    left: 300px;
    right: 0;
    background: #ECECEC;
    border-left: 1px solid #E2E2E2;
}

.main-container .section.right .create-repo-message {

}

