@mixin tabPanel($color, $hoverColor, $borderColor, $activeBorderColor) {

  nav.tabHeader {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 5px -2px rgba(1, 1, 1, 0.3);

    div {
      flex: 1 1 auto;
      text-align: center;
      padding: 10px;
      border-bottom: $borderColor 3px solid;
      color: $color;
      cursor: default;
      font-weight: bold;

      &:hover {
        color: $hoverColor;
      }
    }

    div.active {
      border-color: $activeBorderColor;
      color: inherit;
    }
  }
}

@mixin basicDialog {
	background-color: #FFF;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 10px #666;
	color: #333;

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      padding: 15px 10px;
      display: block;
      cursor: default;
      text-shadow: none;
      background-color: #FFF;

      .octicon {
        margin-right: 10px;
      }

      &:hover {
        color: #000;
        cursor: pointer;
        background-color: #FFF;
      }
    }
  }

  .label {
    padding: 20px 0;
    display: block;
    color: #666;
    font-size: 0.9em;
  }

  .center {
    text-align: center;
  }

	header {
		font-weight: bold;
    padding-bottom: 10px;
    overflow: hidden;
	}

  .tabPanel {
    @include tabPanel(#999, #666, #FFF, #DDD);

    nav.tabHeader {
      margin-bottom: 10px;
    }
  }

	footer {
		text-align: right;
		padding-top: 15px;
		overflow: hidden;
		clear: both;
		padding-bottom: 5px;
		padding-right: 2px;
	}
}

@mixin navMenu {
  @include basicDialog;
  position: fixed;
  margin-left: 5px;
  text-shadow: none;
  min-width: 200px;
  z-index: 10000;

  ul.container-list {
    width: 100%;
    overflow: auto;
    max-height: 400px;
  }

  // Arrow
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    top: -5px;
  }
}
