<header id="header">
  <section id="left" style="width: {{ showRepositoryMenu ? '17%' : '36%' }}">

    <nav>
      <ul>
        <li ng-click="headerCtrl.toggleMenu(1)" title="{{ MSGS['Add, Clone or Create a repository'] }}"><span class="octicon octicon-plus"></span></li>
        <div class="menu" style="width: 300px" ng-show="headerCtrl.showAddMenu">

            <tabs>
              <pane pane-title="{{ MSGS.ADD }}">

                <section class="content">
                  <input type="text" style="width: 200px" name="repository" ng-model="headerCtrl.repositoryPath"
                    placeholder="{{ MSGS['Where are your stuffs'] }}?" />
                  <input type="file" ng-model="headerCtrl.repositoryPath" ng-input-change nwdirectory />
                </section>
                <footer><button class="featured" ng-click="headerCtrl.addRepository(headerCtrl.repositoryPath)"><span class="octicon octicon-file-directory"></span> {{ MSGS["ADD REPOSITORY"] }}</button> </footer>

              </pane>
              <pane pane-title="{{ MSGS.CLONE }}">
                <section class="content">
                  <input type="text" style="width: 100%; box-sizing: border-box" ng-model="headerCtrl.cloneURL"
                    placeholder="{{ MSGS['Clone URL'] }}" />
                  <input type="text" style="width: 200px" ng-model="headerCtrl.repositoryDestiny"
                    placeholder="{{ MSGS['Destination Folder'] }}" />
                  <input type="file" ng-model="headerCtrl.repositoryDestiny" ng-input-change nwdirectory />
                </section>
                <footer><button class="featured"
                  ng-click="headerCtrl.cloneRepository()"
                  ><span class="octicon octicon-repo-clone"></span> {{ MSGS.CLONE }}</button>
                </footer>
              </pane>
              <pane pane-title="{{ MSGS.CREATE }}">

                <section class="content">

                  <input type="text" style="width: 100%; box-sizing: border-box" ng-model="headerCtrl.repositoryName"
                    placeholder="{{ MSGS['Repository name'] }}" />

                  <span class="label" ng-show="headerCtrl.repositoryName.length">
                    {{ MSGS['Your repository will be created as'] }} <strong>"{{ headerCtrl.treatBranch(headerCtrl.repositoryName) }}"</strong></span>

                  <input type="text" style="width: 200px" ng-model="headerCtrl.repositoryHome"
                    placeholder="{{ MSGS['Folder'] }}" />
                  <input type="file" ng-model="headerCtrl.repositoryHome" ng-input-change nwdirectory />

                </section>
                <footer><button class="featured"
                  ng-click="headerCtrl.createRepository()"><span class="octicon octicon-repo"></span> {{ MSGS.CREATE }}</button>
                </footer>

              </pane>
            </tabs>

        </div>
        <li title="{{ MSGS['Hide menu'] }}" ng-show="showRepositoryMenu" ng-click="showRepositoryMenu = false"><i class="fa fa-toggle-on"></i></li>
        <li title="{{ MSGS['Show menu'] }}" ng-hide="showRepositoryMenu" ng-click="showRepositoryMenu = true"><i class="fa fa-toggle-off"></i></li>
      </ul>
    </nav>

  </section>

  <section id="right">

    <nav>
      <ul>
        <li ng-show="headerCtrl.currentBranch" ng-click="headerCtrl.toggleMenu(2)"><span class="octicon octicon-git-branch"></span> {{ headerCtrl.currentBranch }}</li>
        <div class="menu" style="min-width: 300px" ng-show="headerCtrl.showBranchMenu">
          <tabs>
            <pane pane-title="Branchs" icon="octicon octicon-git-branch">
              <input style="display:block; width:100%; box-sizing: border-box;" type="text" name="newBranch" ng-model="newBranch"
                placeholder="{{ MSGS['Select or create a new branch'] }}" ng-keypress="headerCtrl.checkoutBranch($event, newBranch)" />

              <span class="label" ng-show="newBranch.length > 0 && !headerCtrl.branchExists(newBranch)">
                {{ MSGS['Create new branch'] }} <strong>"{{ headerCtrl.treatBranch(newBranch) }}"</strong></span>

              <ul style="display: block; overflow: auto; max-height: 400px;">
                <li style="display:block" ng-repeat="branch in headerCtrl.remoteBranchs | filter:headerCtrl.treatBranch(newBranch) || ''" ng-click="headerCtrl.switchBranch(branch)"><span class="octicon octicon-git-branch"></span> {{ branch }}</li>
              </ul>
            </pane>
            <pane pane-title="Tags" icon="octicon octicon-tag">
              <input type="text" placeholder="Search for a tag" ng-model="findTag"
                style="display:block; width:100%; box-sizing: border-box;"/>

              <ul style="width: 100%; overflow: auto; max-height: 400px;">
                <li ng-repeat="tag in headerCtrl.tags | filter:findTag">
                  <span class="octicon octicon-tag"></span> {{ tag }}
                </li>
              </ul>
            </pane>
          </tabs>
        </div>
      </ul>
    </nav>

    <div id="corner">

      <nav>
        <ul>
          <li ng-show="headerCtrl.showResetButton()"
            ng-click="headerCtrl.resetBranchToCommit()"
            title="{{ MSGS['Reset branch {branch} to selected commit'].replace('{branch}', headerCtrl.currentBranch) }}">
            <span class="octicon octicon-mail-reply"></span>
          </li>

          <li title="Stash {{ headerCtrl.stashableFiles.length }} changes"
              ng-show="headerCtrl.stashableFiles.length > 0" ng-click="headerCtrl.stashChanges()">
            <span class="octicon octicon-package"></span>
          </li>

          <ul ng-show="headerCtrl.selectedRepository && headerCtrl.stashList.length > 0" style="  margin-right: -10px">
            <li title="Stash list ({{ headerCtrl.stashList.length }})" ng-click="headerCtrl.toggleMenu(4)">
              <span class="octicon octicon-clippy"></span>
              <div class="num-indicator">
                {{ headerCtrl.stashList.length }}
              </div>
            </li>
            <div class="stash-menu"ng-show="headerCtrl.showStashMenu">
              <ul>
                <li ng-repeat="stash in headerCtrl.stashList">
                  <span class="octicon octicon-package"></span> {{ stash.subject }}
                  <div class="sub-label">
                    <span class="octicon octicon-pin"></span> {{ stash.reflogSelector }}
                    <span class="octicon octicon-person"></span> {{ stash.author }}
                  </div>
                  <div class="button-container">
                    <button type="button" title="Pop"
                      ng-click="headerCtrl.popStash(stash.reflogSelector)"><span class="octicon octicon-unfold"></span></button>
                    <button type="button" title="Remove"
                      ng-click="headerCtrl.removeStash(stash.reflogSelector)"><span class="octicon octicon-trashcan"></span></button>
                  </div>
                </li>
              </ul>
            </div>
          </ul>

          <li ng-click="headerCtrl.sync()" ng-show="headerCtrl.currentBranch">

            <span ng-show="headerCtrl.isRemoteBranch(headerCtrl.currentBranch)">
              <span ng-class="{ rotate:headerCtrl.loading }" class="octicon octicon-sync"></span> {{ MSGS.Sync }}
            </span>

            <span ng-show="!headerCtrl.isRemoteBranch(headerCtrl.currentBranch)">
              <span ng-class="{ rotate:headerCtrl.loading }" ng-show="headerCtrl.loading"
                style="margin-right: 10px" class="octicon octicon-sync"></span>
              <span class="octicon octicon-repo-push"></span> {{ MSGS['Publish branch'] }}
            </span>

              <span ng-show="headerCtrl.syncStatus.ahead" class="sync-status"><span class="octicon octicon-arrow-up"></span> {{ headerCtrl.syncStatus.ahead }}</span>
              <span ng-show="headerCtrl.syncStatus.behind" class="sync-status"><span class="octicon octicon-arrow-down"></span> {{ headerCtrl.syncStatus.behind }}</span>

          </li>

          <ul>
            <li ng-click="headerCtrl.toggleMenu(3)" title="{{ MSGS['Settings'] }}"><span class="octicon octicon-gear"></span></li>
          </ul>
          <li ng-show="headerCtrl.isRepositoryNameVisible()"><strong>{{ headerCtrl.selectedRepository.name }}</strong></li>
        </ul>
      </nav>

    </div>

  </section>

</header>

<section class="notify-dialog" style="margin-bottom: {{ headerCtrl.cloneNotify.show ? '' : '-100px' }}">
  <section class="icon">
    <loading-icon></loading-icon>
  </section>

  <section class="content">
    {{ MSGS['CLONING REPOSITORY FROM'] }} <strong>{{ headerCtrl.cloneNotify.cloneURL }}</strong> {{ MSGS.INTO }}
    <strong>{{ headerCtrl.cloneNotify.destinyFolder }}</strong>
  </section>
</section>

<section class="notify-dialog" style="margin-bottom: {{ headerCtrl.createNotify.show ? '' : '-100px' }}">
  <section class="icon">
    <loading-icon></loading-icon>
  </section>

  <section class="content">
    {{ MSGS['CREATING REPOSITORY IN'] }} <strong>{{ headerCtrl.createNotify.repositoryHome }}</strong>
  </section>
</section>
