<section id="content" ng-click="appCtrl.hideHeaderMenus()">

  <section id="left" style="width: {{ showRepositoryMenu ? '17%' : '0%' }}">
    <div class="empty-msg" ng-show="appCtrl.repositories.isEmpty">
      <span class="mega-octicon octicon-rocket"></span>
      {{ MSGS["Start adding or clonning some awesome things"] }}! <3
    </div>

    <nav>
      <ul>
        <li ng-show="appCtrl.repositories.github.length > 0">
          <div class="label">Github</div>
          <ul>
            <li ng-repeat="repository in appCtrl.repositories.github" ng-class="{ selected:repository.selected }"
              ng-click="appCtrl.showRepositoryInfo(repository)" ng-right-click="appCtrl.openRepositoryContextualMenu($event, repository, $index)">
              <span class="octicon octicon-repo"></span> {{ repository.name }}
            </li>
          </ul>
        </li>
        <li ng-show="appCtrl.repositories.bitbucket.length > 0">
          <div class="label">Bitbucket</div>
          <ul>
            <li ng-repeat="repository in appCtrl.repositories.bitbucket" ng-class="{ selected:repository.selected }"
              ng-click="appCtrl.showRepositoryInfo(repository)" ng-right-click="appCtrl.openRepositoryContextualMenu($event, repository, $index)">
              <i class="fa fa-bitbucket"></i> {{ repository.name }}
            </li>
          </ul>
        </li>
        <li ng-show="appCtrl.repositories.others.length > 0">
          <div class="label">{{ MSGS.Others }}</div>
          <ul>
            <li ng-repeat="repository in appCtrl.repositories.others" ng-class="{ selected:repository.selected }"
              ng-click="appCtrl.showRepositoryInfo(repository)" ng-right-click="appCtrl.openRepositoryContextualMenu($event, repository, $index)">
              <i class="fa fa-git-square"></i> {{ repository.name }}
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <pie-dialog show="false">
      Are you sure to remove <strong>{{ repository }}</strong>?
      <footer>
        <button type="button">NO</button> <button type="button" class="featured">YES</button>
      </footer>
    </pie-dialog>
  </section>

  <section class="getting-start-message" ng-hide="appCtrl.repositoryHistory.length > 0">
    <span class="mega-octicon octicon-inbox"></span>
    {{ MSGS["Select a repository to start"] }}
  </section>

  <section id="center" ng-show="appCtrl.repositoryHistory.length > 0">

    <form name="commitForm" class="commit-block {{ appCtrl.enableCommitBlock ? 'enable-commit-form' : ''}}" ng-show="appCtrl.commitChanges.length > 0">
      <h3><span class="octicon octicon-diff"></span> {{ MSGS["Commit changes"] }}</h3>
      <div class="input-wraper">
        <input type="text" ng-model="commitMessage" ng-focus="appCtrl.onFocusCommitMessageInput()" placeholder="{{ MSGS['Type a message for your commit'] }}" required />
        <textarea ng-model="commitDescription"
          placeholder="{{ MSGS['Give a description to the commit. Tell more about your changes...'] }}"></textarea>
      </div>
      <button type="button" class="featured" ng-click="appCtrl.commitSelectedChanges(commitMessage, commitDescription)"><span class="octicon octicon-cloud-upload"></span> {{ MSGS.COMMIT }}</button>
    </form>

    <nav ng-class="{ mask:appCtrl.loadingHistory }" ng-scroll="appCtrl.loadMoreCommits($event)">
      <ul>
        <li class="commit-number">
          <div ng-show="appCtrl.commitNumber != 'counting' && appCtrl.commitNumber.length > 0">
            <span class="octicon octicon-git-commit"></span> {{ appCtrl.commitNumber | number:0}} commits
          </div>
          <div ng-show="appCtrl.commitNumber == 'counting'">
            {{ MSGS["Counting..."] }}
          </div>
        </li>
        <li ng-repeat="commit in appCtrl.repositoryHistory" ng-class="{ selected:commit.selected }"
          ng-click="appCtrl.showCommitChanges(commit, $index)">
          <div class="thumb">
            {{ commit.user.trim()[0] }}
          </div>
          <div class="commit-message">{{ commit.message }}</div>
          <div class="commit-details"><span class="date">{{ commit.date }} by</span> {{ commit.user }} </div>
        </li>
      </ul>
    </nav>

  </section>

  <section id="right" ng-class="{ mask:appCtrl.loadingChanges }" ng-show="appCtrl.repositoryHistory.length > 0">

    <tabs id="chagesTabPanel">
      <pane pane-title="{{ MSGS.History }}" icon="octicon octicon-history">

        <section class="getting-start-message" ng-hide="appCtrl.getCommitMessage()">
          <span class="mega-octicon octicon-hourglass"></span>
          {{ MSGS['Click on a commit to see what happend there'] }}
        </section>

        <header class="commit-message" ng-show="appCtrl.getCommitMessage()">
          <h2>{{ appCtrl.getCommitMessage() }}</h2>
          <p class="commit-body" ng-show="appCtrl.getCommitBody()">
            {{ appCtrl.getCommitBody() }}
          </p>

          <h4 ng-show="appCtrl.getCommitUser()">
            <span class="octicon octicon-person"></span> {{ appCtrl.getCommitUser() }}
          </h4>
          <h4 ng-show="appCtrl.getCommitHash()">
            <span class="octicon octicon-git-commit"></span> {{ appCtrl.getCommitHash() }}
          </h4>
          <h4 style="float: right; cursor: pointer" ng-click="appCtrl.expandAll(appCtrl.commitHistory)">
            <span class="octicon octicon-unfold"></span> {{ MSGS['Expand all'] }}
          </h4>
          <h4 style="float: right; cursor: pointer" ng-click="appCtrl.collapseAll(appCtrl.commitHistory)">
            <span class="octicon octicon-fold"></span> {{ MSGS['Collapse all'] }}
          </h4>
        </header>

        <nav>
          <ul>

            <li ng-repeat="history in appCtrl.commitHistory" ng-right-click="appCtrl.openHistoryContextualMenu($event, history, $index)">
              <header>
                <span ng-click="appCtrl.showFileDiff(history)"
                  ng-class="{ 'octicon-triangle-right': !history.showCode, 'octicon-triangle-down': history.showCode}" class="octicon octicon-triangle-right"></span>
                <span title="{{ history.name.length > 50 ? history.name : '' }}">{{ history.name.length > 50 ? '...' : ''}} {{ history.name | limitTo: - 50 }}</span>
                <menuitem ng-bind-html="history.changes"></menuitem>
              </header>
              <code ng-show="history.showCode" ng-bind-html="history.code"></code>
            </li>

          </ul>
        </nav>
      </pane>

      <pane pane-title="{{ MSGS.Changes }}" icon="octicon octicon-radio-tower">

        <section class="getting-start-message" ng-show="appCtrl.commitChanges.length == 0">
          <span class="mega-octicon octicon-hubot"></span>
          {{ MSGS['All clean here Chief'] }}
        </section>

        <header class="commit-message" ng-show="appCtrl.commitChanges.length > 0">
          <h2 style="margin-bottom: 20px">{{ MSGS['Unsyncronized Changes'] }}</h2>

          <h4 style="cursor: pointer" ng-click="appCtrl.collapseAll(appCtrl.commitChanges)">
            <span class="octicon octicon-fold"></span> {{ MSGS['Collapse all'] }}
          </h4>
          <h4 style="cursor: pointer" ng-click="appCtrl.expandAll(appCtrl.commitChanges)">
            <span class="octicon octicon-unfold"></span> {{ MSGS['Expand all'] }}
          </h4>
          <h4 style="cursor: pointer; float: right" ng-click="appCtrl.discartAllSelected(appCtrl.commitChanges)">
            <span class="octicon octicon-trashcan"></span> {{ MSGS['Discart all selected'] }}
          </h4>
        </header>

        <nav>
          <ul>

            <li ng-repeat="change in appCtrl.commitChanges" ng-right-click="appCtrl.openChangesContextualMenu($event, change, $index)">
              <header ng-class="{'read-only' : change.type == 'ADDED'}">
                <span ng-hide="change.type == 'DELETED'" ng-click="appCtrl.showFileDiff(change)" ng-class="{ 'octicon-triangle-right': !change.showCode, 'octicon-triangle-down': change.showCode}" class="octicon octicon-triangle-right"></span>
                <input id="change{{$index}}" type="checkbox" ng-model="change.checked" checked="true" />
                <label ng-hide="change.type == 'ADDED'" for="change{{$index}}"></label>
                <span title="{{ change.displayPath.length > 50 ? change.displayPath : '' }}">{{ change.displayPath.length > 50 ? '...' : ''}} {{ change.displayPath | limitTo: - 50 }}</span>
                <menuitem ng-class="appCtrl.getChangeTypeClass(change.type)">{{ MSGS[change.type] }}</menuitem>
              </header>
              <code ng-show="change.showCode" ng-bind-html="change.code"></code>
            </li>

          </ul>
        </nav>

      </pane>

      <pane pane-title="Stash" icon="octicon octicon-package" show-pane="false">

        <header class="commit-message" ng-show="appCtrl.stash.info.subject">
          <h2>{{ appCtrl.stash.info.subject }}</h2>

          <h4>
            <span class="octicon octicon-person"></span> {{ appCtrl.stash.info.author }}
          </h4>
          <h4>
            <span class="octicon octicon-pin"></span> {{ appCtrl.stash.info.reflogSelector }}
          </h4>
          <h4 style="cursor: pointer; float: right" ng-click="appCtrl.hideStashTab()">
            <span class="octicon octicon-x"></span> Close stash tab
          </h4>
        </header>

        <nav>
          <ul>

            <li ng-repeat="stashFile in appCtrl.stash.files">
              <header>
                <span ng-click="appCtrl.showStashFileDiff(stashFile)"
                  ng-class="{ 'octicon-triangle-right': !stashFile.showCode, 'octicon-triangle-down': stashFile.showCode}"
                  class="octicon octicon-triangle-right"></span>
                <span title="{{ stashFile.name.length > 50 ? stashFile.name : '' }}">{{ stashFile.stashFile.length > 50 ? '...' : ''}} {{ stashFile.name | limitTo: - 50 }}</span>
                <menuitem ng-bind-html="stashFile.changes"></menuitem>
              </header>
              <code ng-show="stashFile.showCode" ng-bind-html="stashFile.code"></code>
            </li>

          </ul>
        </nav>

      </pane>
    </tabs>

  </section>

  <section class="notify-dialog" style="bottom: inherit; right: 10px; top: 10px; margin-top: {{ appCtrl.updateNotify.show ? '' : '-100px' }}">
    <section class="icon">
      <span class="mega-octicon octicon-cloud-download"></span>
    </section>

    <section class="content">
      UPDATE INSTALLED. CLICK <span class="link" ng-click="appCtrl.performUpdate()">HERE</span> TO APPLY THE CHANGES
    </section>
  </section>

</section>
