<section class="page" ng-show="modalCtrl.showDialog">
  <div class="page-overlay" ng-click="modalCtrl.hideDialog()"></div>
  <div class="page-modal">
    <h1><span class="octicon octicon-lock"></span> {{ MSGS['Authentication required'] }}</h1>
    <p>
      {{ MSGS['You\'re trying to make changes into a https remote'] }}
      (<strong>{{ modalCtrl.pushConfigs.remote }}</strong>)
      {{ MSGS['and a username and password are required. Please type it and let us publish your changes LOL'] }}</p>
    <form ng-submit="modalCtrl.submitAuthPushForm(user)">
      <input type="text" placeholder="{{ MSGS.SettingsPage.Username }}" ng-model="user.username" required />
      <input type="password" placeholder="{{ MSGS.Password }}" ng-model="user.password" required />
      <footer><input type="submit" class="featured" value="{{ MSGS.SUBMIT }}" style="margin-right: 5px" /><button
        type="button" ng-click="modalCtrl.hideDialog()">{{ MSGS.CANCEL }}</button></footer>
    </form>
  </div>
</section>
