<div class="page" ng-hide="settingsCtrl.hidePage">
  <div class="page-overlay" ng-click="settingsCtrl.hideSettingsPage()" style="opacity : {{ settingsCtrl.showSettingsPage ? '0.5' : '0' }}"></div>
  <div class="page-dialog" style="margin-left : {{ settingsCtrl.showSettingsPage ? '35%' : '120%' }}">
    <header>
      <div class="title"><span class="octicon octicon-arrow-left" ng-click="settingsCtrl.hideSettingsPage()"></span> {{ MSGS.Settings }}</div>
    </header>

    <nav>
      <ul>
        <li>
          <div class="label">{{ MSGS.SettingsPage.Preferences }}</div>
          <ul>
            <li>
              <section class="label-field">{{ MSGS.SettingsPage.Font }}</section>
              <select name="font" ng-model="Configs.fontFamily">
                <option value="{{ Configs.fontFamily }}"><strong>{{ Configs.fontFamily }} ({{ MSGS.SettingsPage.default }})</strong></option>
                <option ng-repeat="font in settingsCtrl.fonts" value="{{ font }}">{{ font }}</option>
              </select>
            </li>
          </ul>
        </li>

        <li>
          <div class="label">Git</div>
          <ul>
            <li class="column">
              <section class="label-field">{{ MSGS.SettingsPage.Username }}</section>
              <input type="text" name="gitUsername">
            </li>

            <li class="column">
              <section class="label-field">{{ MSGS.SettingsPage.Email }}</section>
              <input type="text" name="gitEmail">
            </li>
          </ul>
        </li>

        <li>
          <div class="label">{{ MSGS.SettingsPage.Repository }}</div>

          <ul>
            <li>
              <section class="label-field">{{ MSGS.SettingsPage.Username }}</section>
              <input type="text" name="username">
            </li>
            <li>
              <section class="label-field">{{ MSGS.SettingsPage.Password }}</section>
              <input type="password" name="username">
            </li>
            <li>
              <section class="label-field">{{ MSGS.SettingsPage["Ignored files"] }}</section>
            </li>
            <li>
              <section class="label-field">{{ MSGS.SettingsPage["Using ssh key"] }}</section>
            </li>
          </ul>
        </li>

        <li>
          <div class="label">{{ MSGS.SettingsPage.About }}</div>
          <ul>
            <li>{{ MSGS.SettingsPage["GitPie is an open source git client that have the goal to be the most simple and nice client for any project and for any people"] }}</li>
          </ul>
        </li>

        <li>
          <div class="label">{{ MSGS.SettingsPage.License }}</div>
          <ul>
            <li>{{ MSGS.SettingsPage["GitPie is distributed under the MIT License"] }}</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
