<div class="page" ng-hide="settingsCtrl.hidePage">
  <div class="page-overlay" ng-click="settingsCtrl.hideSettingsPage()" style="opacity : {{ settingsCtrl.showSettingsPage ? '0.5' : '0' }}"></div>
  <div class="page-dialog" style="margin-left : {{ settingsCtrl.showSettingsPage ? '35%' : '120%' }}">
    <header>
      <div class="title"><span class="octicon octicon-arrow-left" ng-click="settingsCtrl.hideSettingsPage()"></span> {{ MSGS.Settings }}</div>
    </header>

    <nav>
      <ul>
        <li>
          <div class="label">{{ MSGS.SettingsPage.Preferences }}</div>
          <ul>
            <li>
              <section class="label-field">{{ MSGS.SettingsPage.Font }}</section>
              <select name="font" ng-model="CONFIGS.fontFamily">
                <option value="{{ CONFIGS.fontFamily }}">{{ CONFIGS.fontFamily }} ({{ MSGS.SettingsPage.default }})</option>
                <option ng-repeat="font in settingsCtrl.fonts" value="{{ font }}">{{ font }}</option>
              </select>
            </li>
            <li>
              <section class="label-field">{{ MSGS.SettingsPage['Show repositories from'] }}</section>
              <div class="checkbox-container">
                <span class="item">
                  <input id="github" type="checkbox" ng-model="CONFIGS.showRepository.github" />
                  <label for="github"></label> Github
                </span>

                <span class="item">
                  <input id="bitbucket" type="checkbox" ng-model="CONFIGS.showRepository.bitbucket" />
                  <label for="bitbucket"></label> Bitbucket
                </span>

                <span class="item">
                  <input id="others" type="checkbox" ng-model="CONFIGS.showRepository.others" />
                  <label for="others"></label> {{ MSGS.Others }}
                </span>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <div class="label">Git</div>
          <form ng-submit="settingsCtrl.changeGitCofigs(true, $event)">
            <ul>
              <li class="column">
                <section class="label-field">{{ MSGS.SettingsPage.Username }}</section>
                <input type="text" ng-model="settingsCtrl.globalGitConfigs['user.name']" required />
              </li>

              <li class="column">
                <section class="label-field">{{ MSGS.SettingsPage.Email }}</section>
                <input type="text" ng-model="settingsCtrl.globalGitConfigs['user.email']" required />
              </li>

              <li class="column">
                <section class="label-field">{{ MSGS.SettingsPage['Merge Tool'] }}</section>
                <input type="text" ng-model="settingsCtrl.globalGitConfigs['merge.tool']" placeholder="{{ MSGS.SettingsPage['Put here the merge tool name. Ex: meld'] }}" />
                <div class="info" ng-show="settingsCtrl.globalGitConfigs['merge.tool']">
                  <span class="octicon octicon-info"></span> {{ MSGS.SettingsPage['GitPie set some defaults configurations to setting up the mergetool. You can change this after'] }}.
                  <span ng-click="settingsCtrl.openMergeToolConfigHelp()" class="link">{{ MSGS.SettingsPage['See how'] }}...</span>
                </div>
              </li>

              <li>
                <input type="submit" value="{{ MSGS.SettingsPage['CHANGE GLOBALS CONFIGURATIONS'] }}" />
              </li>
            </ul>
          </form>
        </li>

        <li ng-show="settingsCtrl.selectedRepository">
          <div class="label">{{ MSGS.SettingsPage.Repository }} (<em>{{ settingsCtrl.selectedRepository.name }}</em>)</div>

          <form ng-submit="settingsCtrl.changeGitCofigs(false, $event)">
            <ul>
              <li>
                <section class="label-field">{{ MSGS.SettingsPage.Username }}</section>
                <input type="text" ng-model="settingsCtrl.localGitConfigs['user.name']" required />
              </li>
              <li>
                <section class="label-field">{{ MSGS.SettingsPage.Email }}</section>
                <input type="text" ng-model="settingsCtrl.localGitConfigs['user.email']" required />
              </li>
              <li class="column">
                <section class="label-field">{{ MSGS.SettingsPage['Merge Tool'] }}</section>
                <input type="text" ng-model="settingsCtrl.localGitConfigs['merge.tool']" placeholder="{{ MSGS.SettingsPage['Put here the merge tool name. Ex: meld'] }}" />
                <div class="info" ng-show="settingsCtrl.localGitConfigs['merge.tool']">
                  <span class="octicon octicon-info"></span> {{ MSGS.SettingsPage['GitPie set some defaults configurations to setting up the mergetool. You can change this after'] }}.
                  <span ng-click="settingsCtrl.openMergeToolConfigHelp()" class="link">{{ MSGS.SettingsPage['See how'] }}...</span>
                </div>
              </li>
              <li>
                <input type="submit" value="{{ MSGS.SettingsPage['CHANGE {repository} CONFIGURATIONS'].replace('{repository}', settingsCtrl.selectedRepository.name.toUpperCase()) }}" />
              </li>
              <li>
                <section class="label-field">{{ MSGS.SettingsPage["Using ssh key"] }}</section>
                <div>{{ settingsCtrl.selectedRepository.usingSSH ? 'Yes' : 'No' }}</div>
              </li>
            </ul>
          </form>
        </li>

        <li>
          <div class="label">{{ MSGS.SettingsPage.About }}</div>
          <ul>
            <li>{{ MSGS.SettingsPage["GitPie is an open source git client that have the goal to be the most simple and nice client for any project and for any people"] }}</li>
          </ul>
        </li>

        <li>
          <div class="label">{{ MSGS.SettingsPage.License }}</div>
          <ul>
            <li>{{ MSGS.SettingsPage["GitPie is distributed under the MIT License"] }}</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
